html, body {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: inherit;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    gap: 50px;
}

#gridContainer {
    display: flex;
    border: 5px solid orange;
    border-radius: 5px;
    flex-wrap: wrap;
    width: 450px;
    aspect-ratio: 1 / 1;
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border-width: 1px;
}

#buttonsContainer {
    display: flex;    
    gap: 20px;
}
